{% extends 'bento/_base.html' %}

{% block titre %}
    Bento | Accueil
{% endblock %}

{% block contenu %}

    <div class="header">
        <h1>Bento</h1>

        <h2>Toutes les recettes de cuisine à portée de main !</h2>
    </div>

    <div class="content">

        {% for recette in dernieres_recettes %}
            <h3> {{ recette.titre }}</h3>
            <p>{{ recette.etapes|truncatewords_html:80 }}</p>
            <p><a href="{% url "bento.views.lire" recette.id %}"> Voir la recette</a> </p>
        {% empty %}
            <p> Aucune recette encore ajoutée</p>
        {%  endfor %}

    </div>

{% endblock %}