{% extends 'bento/_base.html' %}

{% block titre %}
    Bento | Connexion
{% endblock %}

{% block contenu %}

    <div class="header">
        <h1>Bento</h1>

        <h2>Connexion</h2>
    </div>

    <div class="content">

        <form action="." method="GET">
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <input type="submit" value="Se connecter" />
                <a href="profil_user.html">Créer un compte</a>
            </p>

        </form>

    </div>

{% endblock %}