{% extends 'bento/_base.html' %}

{% block titre %}
    Bento | Ajout Recette
{% endblock %}

{% block contenu %}

    <div class="header">
        <h1>Bento</h1>

        <h2>Ajouter une Recette</h2>
    </div>

    <div class="content">

        <form method="post" action="{% url 'bento:ajoutrecette' %}"  class="pure-form pure-form-stacked">
            {% csrf_token %}
            {{ formulaire }}
            <br /><br />
            <button type="submit" class="pure-button pure-button-primary pure-input-1-2">Ajouter recette</button><br />
            <a class="pure-button pure-input-1-2" href="{% url 'bento:index' %}">Retour</a>
        </form>

    </div>

{% endblock %}