{% extends 'bento/_base.html' %}

{% block titre %}
    Bento | Recette
{% endblock %}

{% block contenu %}

    <div class="header">
        <h1>Bento</h1>

        <h2>Recette</h2>
    </div>

    <div class="content">

        <form action="." method="GET" class="pure-form pure-form-stacked">
            {% csrf_token %}
            <p>
               {{ form.as_p }}
            </p>
            <button type="submit" class="pure-button pure-button-primary pure-input-1-2">Ajouter recette</button><br />
            <a class="pure-button pure-input-1-2" href="{% url 'bento:accueil' %}">Retour</a>

        </form>

    </div>

{% endblock %}